#cdrom
graphical

clearpart --drives=sda --all --initlabel
ignoredisk --only-use=sda
autopart

eula --agreed
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone --utc Etc/UTC
firstboot --disable

rootpw --plaintext 1234567
reboot

%packages
@^graphical-server-environment
@console-internet
@container-management
@debugging
@development
@dns-server
@dotnet
@file-server
@ftp-server
@graphical-admin-tools
@guest-agents
@headless-management
@infiniband
@legacy-unix
@mail-server
@network-file-system-client
@network-server
@performance
@remote-desktop-clients
@remote-system-management
@rpm-development-tools
@scientific
@security-tools
@smart-card
@smb-server
@system-tools
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
@web-server
#ipmitool
#nvme-cli
#OpenIPMI
#dos2unix
#kernel-rpm-macros
#kernel-abi-stablelists

%end

%pre
#!/bin/sh
echo "run pre script"
%end

%post
echo "run post script"
yum -y remove initial-setup
yum -y remove initial-setup-gui
yum -y remove gnome-initial-setup
%end

