#!ipxe

set base-url http://{{ host_ip }}/sles160

kernel ${base-url}/boot/x86_64/loader/linux \
	root=live:${base-url}/LiveOS/squashfs.img inst.install_url=${base-url}/install live.password=111111 \
	inst.auto=${base-url}/sles160.json
initrd ${base-url}/boot/x86_64/loader/initrd

boot


