#!ipxe

set base-url http://{{ host_ip }}/ubuntu2404

kernel ${base-url}/linux iso-url=https://releases.ubuntu.com/24.04.4/ubuntu-24.04.4-live-server-amd64.iso ip=dhcp \
autoinstall ds=nocloud-net;s=http://{{ host_ip }}/ubuntu2404/ ---

initrd ${base-url}/initrd

boot

