#!ipxe

set base-url http://{{ host_ip }}/rhel101

kernel ${base-url}/images/pxeboot/vmlinuz inst.stage2=${base-url}/ inst.ks=${base-url}/rhel101_ks.cfg

initrd ${base-url}/images/pxeboot/initrd.img

boot


